.container {
  width: inherit;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-bottom: 80px;
}

.title {
  font-size: 36px;
  color: white;
  font-weight: 700;
  text-align: center;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.projectsContainer {
  /* animation: slideInFromBottom 0.5s ease-out; */
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cardItem {
  flex: 1 0 25%;
}
