.container {
  width: inherit;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 36px;
  color: white;
  font-weight: 700;
  text-align: center;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.items {
  animation: slideInFromBottom 0.5s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.image {
  border: none;
  border-radius: 50%;
}

.name {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.desc {
  text-align: center;
}

.imgContainer {
  display: flex;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  gap: 20px;
  align-items: center;
}
