.container {
  max-width: 400px;
  flex-basis: calc(50% - 15px);
  border: none;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 20px;
  height: max-content;
}

.dateContainer {
  display: flex;
  justify-content: flex-end;
}

.date {
  color: white;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  border: 5px 0px;
  padding: 5px;
  font-weight: bold;
  border-radius: 25px;
}

.title {
  color: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  font-size: 30px;
  font-weight: bolder;
  padding-bottom: 10px;
}

.desc {
  padding-bottom: 30px;
  text-align: justify;
}

.link {
  color: white;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  padding: 10px;
  border-radius: 25px;
  font-weight: bold;
}
