.container {
  background-color: #000000;
  color: #fdfdfd;
  height: 70px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.nav_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  line-height: 10px;
  gap: 20px;
}

.nav_logo_img {
  border-radius: 8px;
}

.nav_links {
  display: flex;
  gap: 30px;
  align-items: center;
  line-height: 20px;
}

.nav_links button {
  padding: 10px;
  background-color: #c4fe76;
  color: #272727;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

.nav_menu {
  display: none;
}

.nav_menu_icon {
}

.nav_menu_links {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  background-color: #272727;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  padding: 20px;
  gap: 10px;
  border-radius: 5px;
  font-size: 18px;
  align-items: flex-start;
  box-shadow: 0.5px gainsboro;
}

.nav_menu_links button {
  padding: 8px;
  background-color: #c4fe76;
  color: #272727;
  border-radius: 3px;
  border: none;
  font-size: 12px;
}

@media screen and (max-width: 800px) {
  .nav_logo h1 {
    font-size: 15px;
  }
  .nav_links {
    display: none;
  }
  .nav_menu {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
  }
}

@media screen and (max-width: 450px) {
  .nav_logo h1 {
    display: none;
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
