.container {
  background-color: white;
  color: black;
  height: 70px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: absolute;
}

.nav_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  line-height: 20px;
}

.nav_links {
  display: flex;
  gap: 30px;
  align-items: center;
  line-height: 20px;
}

.nav_links button {
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

.nav_menu {
  display: none;
}

.nav_menu_icon {
}

.nav_menu_links {
  background-color: white;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  padding: 20px;
  gap: 10px;
  font-size: 18px;
  align-items: flex-start;
  box-shadow: 0.5px gainsboro;
}

.nav_menu_links button {
  padding: 8px;
  background-color: black;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 12px;
}

@media screen and (max-width: 800px) {
  .nav_logo h1 {
    font-size: 15px;
  }
  .nav_links {
    display: none;
  }
  .nav_menu {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
  }
}

@media screen and (max-width: 450px) {
  .nav_logo h1 {
    display: none;
  }
}
