.container {
  background-color: white;
  color: black;
  height: 70px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: absolute;
}

.nav_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  line-height: 20px;
}

.nav_links {
  display: flex;
  gap: 30px;
  align-items: center;
  line-height: 20px;
}

.nav_links button {
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}
